{% extends 'base.html' %} {% block content %}
<h1>About Finch Collector</h1>
<hr />
<p>
  Explore the World of Finches: Discover a curated collection of finch species
  from around the globe on this website. Immerse yourself in their diverse
  colors, behaviors, and habitats, while fostering a deeper understanding of
  their vital role in our ecosystem. Please share this site to help promote
  conservation and education. Together we can ensure a future for these
  remarkable birds.
</p>
<footer>&copy; 2023 Finch Collector</footer>
{% endblock %}
