<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finch Collector</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>Finch Collector</h1>
    <img class="home-img" src="static/images/finch.jpeg" alt="Redpoll finch" />
    <p>
      Photo by
      <a href="https://imgur.com/user/finnishredbeard/posts">finnishredbeard</a>
    </p>
    {% endblock %}
  </body>
</html>
